@model IEnumerable<AppIFES.Models.Aluno>

@{
    ViewBag.Title = "Cadastro de Aluno";
}

<center><h2>Cadastro de Aluno</h2></center>

<p>
    @Html.ActionLink(" ", "Create", new { area = "" }, new { @class = "glyphicon glyphicon-plus btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.idaluno }, new { @class = "glyphicon glyphicon-edit btn btn-warning btn-sm" })
                    @Html.ActionLink(" ", "Details", new { id = item.idaluno }, new { @class = "glyphicon glyphicon-list-alt btn btn-success btn-sm" })
                    @Html.ActionLink(" ", "Delete", new { id = item.idaluno }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-sm" })
                    @Html.ActionLink(" ", "Index","Alunodisciplinas", new { id = item.idaluno }, new { @class = "glyphicon glyphicon-th btn btn-info btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>