@model AppIFES.Models.Usuario

@{
    ViewBag.Title = "Informações";
}

<h2>Informações</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.simnao.descricao)
        </dd>

    </dl>
</div>

<hr />
<h4>Disciplina do Usuário</h4>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.disciplinas.FirstOrDefault().descricao)
            </th>
        </tr>

        @foreach (var item in Model.disciplinas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idusuario }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Cancelar", "Index", new { area = "" }, new { @class = "btn btn-success" })
</p>
