@model IEnumerable<AppIFES.Models.Usuario>

@{
    ViewBag.Title = "Cadastro de Usuários";
}

<center><h2>Cadastro de Usuários</h2></center>

<p>
    @Html.ActionLink("Novo", "Create", new { area = "" }, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supervisor)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.simnao.descricao)
                </td>
                <td>
                    @Html.ActionLink("Alterar" , "Edit", new { id = item.idusuario }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detalhar", "Details", new { id = item.idusuario }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Apagar"  , "Delete", new { id = item.idusuario }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>