@model IEnumerable <AppIFES.Models.Agenda>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

<center><h2>Lista de Eventos</h2></center>
<p>
    @Html.ActionLink(" ", "Create", new { id = ViewBag.idIndex }, new { @class = "glyphicon glyphicon-plus btn btn-primary" }) 
    @Html.ActionLink(" Ver todos Eventos", "Index", new { data = DateTime.Parse("01/01/2000") }, new { @class = "btn btn-primary" }) 
</p>
<div class="table-responsive">

    @Html.Grid(Model).Columns(columns =>
{
columns.Add(col => col.idagenda, true);
columns.Add(col => col.Disciplina.descricao).Titled("Grupo").Filterable(true).Sortable(true);
columns.Add(col => col.dataevento).Titled("Data dos Eventos").Sortable(true);
columns.Add(col => col.titulo).Titled("Titulo").Filterable(true).Sortable(true);
columns.Add(col => col.descricao).Titled("Descrição").Sortable(true);
columns.Add(col => col.local).Titled("Local").Sortable(true);
columns.Add().Encoded(false).Sanitized(false)
.RenderValueAs(col =>
@<b>
     @Html.ActionLink(" ", "Edit", new { id = col.idagenda }, new { @class = "glyphicon glyphicon-edit btn btn-warning btn-sm" })
     @Html.ActionLink(" ", "Details", new { id = col.idagenda }, new { @class = "glyphicon glyphicon-list-alt btn btn-success btn-sm" })
     @Html.ActionLink(" ", "Delete", new { id = col.idagenda }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-sm" })
</b>);

 }
    ).SetLanguage("br").WithPaging(8)
</div>

<script>
    $(function () {
        pageGrids.ordersGrid.onRowSelect(function (e) {
            //alert(e.row.nome);
        });
    });
</script>