@model AppIFES.Models.Disciplina

@{
    ViewBag.Title = "Informações do Grupo";
}

<h2>Informações do Grupo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idusuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.iddisciplina }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Cancelar", "Index", new { area = "" }, new { @class = "btn btn-success" })
</p>
