@model IEnumerable<AppIFES.Models.Disciplina>

@using GridMvc.Html

@{
    ViewBag.Title = "Cadastro de Grupos";
}

<center><h2>Agenda Compartilhada</h2></center>

<p>
    @Html.ActionLink(" ", "Create", new { area = "" }, new { @class = "btn btn-primary glyphicon glyphicon-plus", @title = "Criar nova disciplina" })
</p>
<div class="table-responsive">
    @Html.Grid(Model).Columns(columns =>
{
columns.Add(col => col.idusuario, true);
columns.Add(col => col.usuario.nome).Titled("Responsavel").Filterable(true).Sortable(true);
columns.Add(col => col.descricao).Titled("Grupo").Filterable(true).Sortable(true);
columns.Add().Encoded(false).Sanitized(false)
.RenderValueAs(col =>
        @<b>
            @Html.ActionLink(" ", "Edit", new { id = col.iddisciplina }, new { @class = "glyphicon glyphicon-edit btn btn-warning btn-sm", @title = "Editar disciplina" })
            @Html.ActionLink(" ", "Details", new { id = col.iddisciplina }, new { @class = "glyphicon glyphicon-list-alt btn btn-success btn-sm", @title = "Detalhar disciplinas" })
            @Html.ActionLink(" ", "Delete", new { id = col.iddisciplina }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-sm", @title = "Excluir disciplina" })
        </b>);

}
    ).SetLanguage("br").WithPaging(8)
</div>
<script>
    $(function () {
        pageGrids.ordersGrid.onRowSelect(function (e) {
            //alert(e.row.nome);
        });
    });
</script>
