<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - IFES @DateTime.Now.Year</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <!-- Custom styles for this template -->
    <link href="~/Content/dashboard.css" rel="stylesheet">
</head>
<body>
    <nav style="background-color: #0B6121" class="navbar navbar-expand-md navbar-dark fixed-top">
        @Html.ActionLink("IFES ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                @if (Session["Userid"] != null)
                {
                    <li class="nav-item">                        
                        @Html.ActionLink("Agenda", "Index", "Agenda", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    if (Session["UserSupervisor"].Equals("1"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Usuários", "Index", "Usuarios", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Grupos", "Index", "Disciplinas", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Alunos", "Index", "Alunos", new { area = "" }, new { @class = "nav-link" })
                        </li>
                    }
                }
            </ul>
            <form class="form-inline mt-2 mt-md-0 col-md-2">
                @if (Session["Userid"] == null)
                {
                    @Html.ActionLink(" Entrar ", "Login", "Login", new { area = "" }, new { @class = "btn btn-warning my-2 my-sm-0 col-md-10" })
                }
                else
                {
                    @Html.ActionLink(Session["UserNome"] + " | Login-Off", "LoginOff", "Login", new { area = "" }, new { @class = "btn btn-danger my-2 my-sm-0 col-md-10" })
                }
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;App IFES</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>