@model IEnumerable<AppIFES.Models.Alunodisciplina>

@{
    ViewBag.Title = "Index";
}

<h1>Grupos do Aluno</h1>

<p>
    @Html.ActionLink("Inserir Novo Grupo", "Create", new { id = ViewBag.idIndex}, new { @class = "btn btn-primary" } )
</p>
<br /><br />
<h4> Lista de Grupos do Aluno</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aluno.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disciplina.descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aluno.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disciplina.descricao)
        </td>
        <td>
            @Html.ActionLink(" ", "Delete", new { id =  item.iddisciplina, id2 = item.idaluno }, new { @class = "glyphicon glyphicon - trash btn btn - danger btn - sm" })
        </td>
    </tr>
}

</table>
